body, header, footer, div, span, p, h1, h2, a, nav, ul, li {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header {
    background-image: url("../images/wood-background.png");
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: white;
    width: 100%;
    border: 2px solid red;
    height: 100px;
    order: 0;
}

    header nav {
        align-self: flex-end;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin-top: 50px;
        width: 70%;
    }

        header nav > ul > li {
            list-style-type: none;
            display: inline-block;
        }

            header nav > ul > li a {
                display: block;
                text-decoration: none;
                color: red;
                padding: 20px;
                font-weight: bold;
            }

                header nav > ul > li a:hover {
                    background-color: #808080;
                }

        header nav ul li ul {
            display: none;
            position: absolute;
        }

        header nav li ul li {
            list-style-type: none;
            float: none;
            background: black;
            border-top: 1px solid #6b727c;
            border-bottom: 1px solid #575f6a;
        }

        header nav li:hover > ul {
            display: block;
        }



#banner {
    width: 100%;
    order: 1;
    background-image: url("../images/DarkForest.jpg");
    background-size: 100%;
    height: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#frontPage {
    align-self: flex-end;
    color: white;
}



#wrapper > section:nth-of-type(2) {
    background-color: black;
    color: white;
    width: 100%;
    /*Flexbox*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    order: 2;
}

#about {
    width: 33%;
    order: 0;
}

#fast-track {
    width: 33%;
    order: 1;
}

#news {
    width: 33%;
    order: 2;
}

#footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: black;
    color: red;
    order: 3;
}

    #footer > div {
        width: 33%;
    }














main {
    width: 80%;
    margin: 0 auto;
}

section {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

    section img {
        display: inline-block;
        float:left;
    }

    section{
        clear:both;
    }




    section div#before-exam div {
        border: 2.4px solid black;
        position: absolute;
    }

    section div#before-exam {
        border: 2.4px solid black;
    }

        section div#before-exam:nth-child(1) {
            background-color: yellow;
            width: 500px;
            height: 500px;
            border-radius: 600px;
        }

        section div#before-exam div:nth-child(1) {
            background-color: white;
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin: 110px 0 0 100px;
        }

        section div#before-exam div:nth-child(2) {
            background-color: white;
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin: 110px 0 0 300px;
        }

        section div#before-exam div:nth-child(3) {
            background-color: black;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            margin: 110px 0 0 300px;
        }

        section div#before-exam div:nth-child(4) {
            background-color: black;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            margin: 160px 0 0 160px;
        }

        section div#before-exam div:nth-child(5) {
            background-color: red;
            width: 80px;
            height: 80px;
            border-radius: 100px;
            margin: 220px 0 0 210px;
        }

        section div#before-exam div:nth-child(6) {
            background-color: white;
            width: 230px;
            height: 90px;
            border-radius: 100px;
            margin: 330px 0 0 135px;
        }

        section div#before-exam div:nth-child(7) {
            background-color: white;
            width: 50px;
            height: 40px;
            border-radius: 0 0 10px 10px;
            margin: 330px 0 0 250px;
        }

        section div#before-exam div:nth-child(8) {
            background-color: white;
            width: 50px;
            height: 40px;
            border-radius: 0 0 10px 10px;
            margin: 330px 0 0 198px;
        }
